RewriteEngine on

# Redirecionar para HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Extrair o conteúdo do parâmetro "data"
RewriteCond %{QUERY_STRING} ^data=([^&]+)
RewriteRule ^manager$ index.php?url=manager&data=%1 [L]

# Restante das regras (encaminhar para index.php)
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L]
